#Frontend
frontend/node_modules/
frontend/dist/
frontend/.env
frontend/.env.production
frontend/.next/

#Backend
backend/venv/
backend/**/__pycache__/
backend/*.pyc
backend/.env
backend/instance/*
!backend/instance/gymtracker.db

#Visual
.vscode/

#AI assistant files
AGENTS.md
CLAUDE.md